streamlit==1.35.0
langchain==0.2.1
langchain-community==0.2.1
langchainhub==0.1.20
faiss-cpu==1.8.0
sentence-transformers==3.0.1
torch
torchvision
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai==0.5.4
langchain-google-genai==1.0.6
grpcio==1.62.2
grpcio-status==1.62.2
protobuf==4.25.3
numpy==1.26.4
pillow==10.3.0
